<!--display all the URLs and their shortened forms -->
<!-- var urlDatabse = require('express-server.js'); -->

<!DOCTYPE html>

<html lang='en'>

<head>
  <title>TinyApp</title>
  <link rel="stylesheet" type="text/css" href="/reset.css">
</head>

<body>
  <% include partials/_header %>
  <ul>
    <table>
      <tr>
        <th>TINY URL</th>
        <th>HUGE URL</th>
        <th></th>
        <th></th>
      </tr>
      <% for (var key in urls) {
        var value = urls[key].url; %>
        <tr>
          <td>
            <a href="/u/<%= key %>"><%= key %></a>
            </td>  <!-- shortened url -->
          <td><%= value %></td>  <!-- actual url -->
          <td><form method="GET" action="/urls/<%= key %>"><button>EDIT</button></form></td>
          <td><form method="POST" action="/urls/<%= key %>/delete"><button>DELETE</button></form></td>
        </tr>
      <% } %>
    </table>
    <br>
    <% if (key) { %>
      <button><a href='/urls/new'>TINY-FY ANOTHER URL</a></button>
    <% } else { %>
      <button><a href='/urls/new'>TINY-FY URL</a></button>
      <% } %>
  </ul>
</body>


</html>