<!--display all the URLs and their shortened forms -->
<!-- var urlDatabse = require('express-server.js'); -->

<!DOCTYPE html>

<html lang='en'>

<head>
  <title>TinyApp</title>
</head>

<body>
  <ul>
    <table>
      <tr>
        <th>New URL</th>
        <th>Original URL</th>
        <th></th>
        <th></th>
      </tr>
      <% for (var key in urls) {
        var value = urls[key]; %>
        <tr>
          <td>
            <a href="/u/<%= key %>"><%= key %></a>
            </td>  <!-- shortened url -->
          <td><%= value %></td>  <!-- actual url -->
          <td><form method="GET" action="/urls/<%= key %>"><button>EDIT</button></form></td>
          <td><form method="POST" action="/urls/<%= key %>/delete"><button>DELETE</button></form></td>
        </tr>
      <% } %>
    </table>
    <br>
    <br>
    <button><a href='/urls/new'>MAKE ANOTHER URL</a></button>
  </ul>
</body>


</html>